body {
    margin: 0;
}
a{
    text-decoration: none;
}
nav{
    background-color: #222222;
}
.container {
    margin: 0 auto;   
    /* padaro kad turinys issicentruotu */
    max-width: 1200px;  
    /* turinio  plotas */
}

nav .container{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
nav a{
    color: #96948c;
}