td, th, table{
    border: 1px solid black;
    border-collapse: collapse;
}
table>tbody>tr{
    background-color: rgb(190, 190, 240);
}
*{
    background-color: rgb(245, 207, 157);
}
/* * - žvaigždutė prisitaiko visiškai visiems elementams
 */

 .bg-blue,
 .bg-blue tr,
 .bg-blue td,
 .bg-blue th
 {background-color: aquamarine;}

 .text-white {color: white;}

 #ypatinga-lentelė tr > td:nth-child(odd){
    background-color: beige;
 }
 #ypatinga-lentelė tr > td:nth-child(even){
    background-color: rgb(228, 228, 76);
 }


